<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body class="m-1 p-1">
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Admin Paneli</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Dictionary" asp-action="New">New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Dictionary" asp-action="TestTurkish">Test-Tr</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Dictionary" asp-action="TestEnglish">Test-Eng</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" asp-controller="Dictionary" asp-action="Search" method="get">
                    <input id="q" name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="row mt-3">
            @*<div class="col-3">

                </div>*@
            <div class="col-12">
                @RenderBody()
            </div>
        </div>

    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
