@model DictionaryModel
@{
    ViewData["Title"] = "Search";
}

@if (@Model != null) {

    <div class="container">
        <div class="row">
            <div class="col">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">English</th>
                            <th scope="col">Turkish</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Dictionaries) {
                            <tr>
                                <th scope="row">@item.Id</th>
                                <td>@item.EngStr</td>
                                <td>@item.TrStr</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

}
else {
    <p class="text-danger">Kayıt bulunamadı!</p>
}