
@{
    Layout = null;
}

<div class="container">
    @if (string.IsNullOrEmpty(ViewBag.UserName)) {
        <div class="row mt-3">
            <a class="text-primary" asp-area="" asp-controller="Security" asp-action="Register">Register</a>
            <a class="text-info ml-1" asp-area="" asp-controller="Security" asp-action="Login">Log in</a>
        </div>

    }
    else {
        <div class="container">
            <div class="row justify-content-center">
                <span class="text-success">Hello @ViewBag.UserName</span>
                <a class="text-danger" asp-area="" asp-controller="Security" asp-action="Logout">Log out</a>
            </div>
        </div>
    }

</div>